aiodns==3.2.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
appwrite==14.1.0
asgiref==3.8.1
asttokens==3.0.0
attrs==25.3.0
beautifulsoup4==4.13.3
blinker==1.9.0
brevo-python==1.2.0
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.8
contourpy==1.3.2
coverage==7.6.10
cryptography==44.0.2
csv-diff==1.2
cycler==0.12.1
decorator==5.1.1
deep-translator==1.11.4
dictdiffer==0.9.0
distro==1.9.0
dj-database-url==3.1.0
Django==5.2
dnspython==2.7.0
docutils==0.21.2
et_xmlfile==2.0.0
executing==2.2.0
fonttools==4.57.0
frozenlist==1.6.0
gnureadline==8.2.13
gunicorn==24.1.1
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.7
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
IMAPClient==3.0.1
iniconfig==2.0.0
ipython==8.31.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.8.2
joblib==1.5.1
kaitaistruct==0.10
kiwisolver==1.4.8
linecache2==1.0.0
lxml==5.3.1
marimo==0.13.3
Markdown==3.7
MarkupSafe==3.0.3
matplotlib==3.10.1
matplotlib-inline==0.1.7
mongo==0.2.0
msgpack==1.1.0
multidict==6.4.3
mypy==1.17.0
mypy_extensions==1.1.0
narwhals==1.37.1
nltk==3.9.1
numpy==2.1.2
openai==1.60.0
openpyxl==3.1.5
orionsdk==0.4.0
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
pdf2image==1.17.0
pexpect==4.9.0
pika==1.3.2
pillow==11.0.0
pluggy==1.5.0
prometheus_client==0.23.1
prompt_toolkit==3.0.50
propcache==0.3.1
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pycares==4.6.1
pycparser==2.22
pycrdt==0.11.1
pydantic==2.10.5
pydantic_core==2.27.2
Pygments==2.19.1
pymdown-extensions==10.15
pymongo==4.10.1
pyOpenSSL==25.0.0
pyparsing==3.2.3
PySocks==1.7.1
pytesseract==0.3.13
pytest==8.3.4
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2024.2
PyYAML==6.0.2
regex==2025.7.34
remarkov==0.2.6
requests==2.32.3
selenium==4.30.0
selenium-wire==5.1.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.46.2
tomlkit==0.13.2
tqdm==4.67.1
traceback2==1.4.0
traitlets==5.14.3
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.12.2
tzdata==2024.2
unittest2==1.1.0
urllib3==2.2.3
uvicorn==0.34.2
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
whitenoise==6.11.0
wsproto==1.2.0
yarl==1.20.0
zstandard==0.23.0
setuptools